
[submodule "depend/perception-base"]
	path = depend/perception-base
	url = https://code.hozonauto.com:10443/perception/perception-base.git
	branch = dev_orin_debug
[submodule "depend/perception-common-onboard"]
	path = depend/perception-common-onboard
	url = https://code.hozonauto.com:10443/perception/perception-common-onboard.git
[submodule "depend/perception-lib"]
	path = depend/perception-lib
	url = https://code.hozonauto.com:10443/perception/perception-lib.git
	branch = dev_orin_debug
[submodule "depend/map"]
	path = depend/map
	url = https://code.hozonauto.com:10443/algorithm/map.git
[submodule "depend/common"]
	path = depend/common
	url = https://code.hozonauto.com:10443/algorithm/common.git
[submodule "depend/Mapping_tools"]
	path = depend/Mapping_tools
	url = https://code.hozonauto.com:10443/Mapping_tools/Mapping_tools.git
[submodule "depend/proto"]
	path = depend/proto
	url = https://code.hozonauto.com:10443/Global/proto.git
[submodule "depend/mapping_plugin"]
	path = depend/mapping_plugin
	url = https://code.hozonauto.com:10443/algorithm/mapping_plugin.git
	branch = master
