model_config_path: "conf/mapping/local_mapping/modules/laneline_mapping.conf"
model_config_path: "conf/mapping/local_mapping/modules/roadedge_mapping.conf"
model_config_path: "conf/mapping/local_mapping/modules/occedge_mapping.conf"
model_config_path: "conf/mapping/local_mapping/modules/arrow_mapping.conf"
model_config_path: "conf/mapping/local_mapping/modules/zebracrossing_mapping.conf"
model_config_path: "conf/mapping/local_mapping/modules/stopline_mapping.conf"
model_config_path: "conf/mapping/local_mapping/modules/localmap_app.conf"
